/*navigasi*/
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;


}

.nav li {
	float: left;
	border-right:1px;
}


.nav li a {

	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


.nav {
	background-color: grey;
}

/*inputan css*/
.table table, td, th {
border: 1px solid #ddd;
text-align: left;
}

.table table {
border-collapse: collapse;
width: 100%;
}
/*<table> meenyeluruh*/
.table th, td {
padding: 15px;
}
/*th td tuk baris kolom*/
